inputs_def:
  - handle: source_type
    description: "%data-extractor-source-type%"
    json_schema:
      type: string
      enum:
        - image
        - text
        - html
      ui:options:
        labels:
          - Image
          - Text
          - HTML
    value: image
    nullable: false

  - handle: source_content
    description: "%data-extractor-source-content%"
    json_schema:
      type: string
      ui:widget: text
    nullable: false

  - handle: llm
    description: "%data-extractor-llm%"
    json_schema:
      ui:widget: llm::model
    value:
      model: oomol-chat
      temperature: 0.5
      top_p: 1
      max_tokens: 128000
    nullable: false

outputs_def:
  - handle: extracted_table
    json_schema:
      type: object
      properties:
        columns:
          type: array
        rows:
          type: array
        schema:
          type: object
    description: "%data-extractor-extracted-table%"

  - handle: extraction_confidence
    json_schema:
      type: number
    description: "%data-extractor-extraction-confidence%"

executor:
  name: python
  options:
    entry: __init__.py
    spawn: false

title: "%data-extractor-title%"
icon: ":carbon:data-enrichment:"
description: "%data-extractor-description%"
