inputs_def:
  - handle: charts
    description: "%array-of-chart-objects-to-combine%"
    json_schema:
      type: array
      items:
        type: object
        properties:
          title:
            type: string
          image:
            type: string
          description:
            type: string
    nullable: false

outputs_def:
  - handle: charts_array
    description: "%filtered-array-of-valid-chart-objects%"
    json_schema:
      type: array
      items:
        type: object
        properties:
          title:
            type: string
          image:
            type: string
          description:
            type: string
    nullable: false

executor:
  name: python
  options:
    entry: __init__.py
    spawn: false

title: "%chart-array-builder%"
icon: ":carbon:list-boxes:"
description: "%combine-chart-objects-into-an-array-for-report-generation-accept%"
